/* FONT */
@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url(http://fonts.googleapis.com/css?family=Oswald);

:root {
    --green: #3E9E47;
    --navbar: #6E706F;

}

/* =============================================================
GENERAL STYLES
============================================================ */
body {
    font-family: 'arial', sans-serif;
    color: var(--navbar);
    background-Color: #FFFFFF;
}
html {
    scroll-behavior: smooth;
}
#schedule, #team, #contact {

    padding-top: 2rem;
    padding-bottom: 5rem;
}

.pad-bottom {
    padding-bottom: 6px;
}

.logo {
    padding: 0 5px 5px;
}

header a {
    font-family: 'arial', sans-serif;
    font-size: 14px;
    color: var(--navbar);
    font-weight: bold;
    padding-bottom: 2px;
    text-transform: uppercase;
}

a:hover {
text-decoration: none;
    color: var(--green);

}

header {

    max-width: 100%;
    border-top: 1px solid var(--green);
}

hr {
    max-width: 100%;
    border-top: 1px solid var(--green);
}

h2 {
    text-align: left;
}

p, li {
    font-size: 15px
}

a {
    color: var(--navbar);
    text-decoration: none;
    font-weight: bolder;
}

/*===================================
HOME SECTION
====================================== */
#home b {
    color: var(--green);
    }

h1 {
    text-align: center;
    margin: 3rem 2rem;
}
#home p{
    font-size: 15.5px;
}
.logo {
    margin: 1.5rem;
    max-width: 40%;
}
.sign{
    max-width: 20%;
}

.edito{
    margin-top : 3.5rem;
}
/*===================================
CALENDAR SECTION
====================================== */

#calendar {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 60px;
}

#calendar .social {
    display: block;
    margin: 50px 20px;
}

/*Carousel Slider*/

#carousel-slider {
    justify-content: center;
    font-family: 'arial', sans-serif;
    border: 1px solid var(--green);
}

#carousel-slider p {
    color: var(--navbar);
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    background-color: transparent;
}

#calendar .calendar-wrapper {
    padding: 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 40px;
    background-color: rgba(255, 255, 255, 0.07);
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}


#calendar h3 {
    font-family: 'arial', sans-serif;
    color: var(--green);
    font-weight: bold;
}

hr {
    color: var(--green);
}

#calendar .calendar-wrapper i {
    margin: 5px;
    color: #3E9E47;
    font-size: 25px;
}

/*===================================
SCHEDULE SECTION
====================================== */
.card{
    border: #FFFFFF;
}
.head1, .head3, .head5, .head7{
    background-color: var(--navbar);
    border: #FFFFFF;
    color: #FFFFFF;
}

.head1 h5, .head3 h5, .head5 h5, .head7 h5{
    color: #FFFFFF;
}

.head2, .head4, .head6{
    background-color: #FFFFFF;
    border-bottom: 0.5px solid var(--navbar);

}

/*===================================
TEAM SECTION
====================================== */
/* The colour of the indicators */

.blog .carousel-indicators {
    margin-bottom: -3rem;
}

.blog .carousel-indicators li {
    background: var(--navbar);
    border: solid 6px;
}

.blog .carousel-indicators .active {
    background: var(--green);
}

.carousel-inner h3{
    font-size: 18px;
}
/*===================================
CONTACT SECTION
====================================== */
#contact .contact-wrapper {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 40px;
    min-height: 200px;
}

#contact .contact-wrapper h3 {
    color: #3E9E47;
}

#contact .social-below {
    display: block;
    margin-top: 5px;
}

.fa-facebook-square {
    color: var(--green);
}

.socialLink{
    display: inline-block;
    padding: 4px 5px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 6px;
    box-shadow: 0 4px var(--navbar);
}
.socialLink:hover{
    color: var(--navbar)
}
.contactAlign{
    margin-left: 9rem;
}
/*===================================
MODAL
====================================== */
#modal h4{
    font-weight: bold;
    color: var(--green);
}
#modal button:hover{
    background-color: var(--green);
}
/*===================================
FOOTER SECTION
====================================== */

footer a, .footer-div a:hover {
    font-size: 11px;
    color: var(--navbar);
}

.scroll-top {
    width: 30px;
    height: 30px;
    position: fixed;
    bottom: 25px;
    right: 20px;
    display: none;
    background-color: var(--green);
    border: none;

}
.scroll-top:hover {
    background-color: var(--navbar);

}

.scroll-top i {
    display: inline-block;
    color: #FFFFFF;
    margin: -25px -8px 10px;
}