/* FONT */
@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url(http://fonts.googleapis.com/css?family=Oswald);

:root {
    --green: #3E9E47;
    --navbar: #6E706F;

}

/* =============================================================
GENERAL STYLES
============================================================ */
body {
    font-family: 'arial', sans-serif;
    color: var(--navbar);
    background-Color: #FFFFFF;
}

#schedule, #team, #contact {

    padding-top: 5rem;
    padding-bottom: 6rem;
}

.pad-bottom {
    padding-bottom: 6px;
}

.logo {
    padding: 0 5px 5px;
}

header a {
    font-family: 'arial', sans-serif;
    color: var(--navbar);
    font-weight: bold;
    padding-bottom: 2px;
    text-transform: uppercase;
}

a:hover {

    color: var(--green);

}

header {

    max-width: 100%;
    border-top: 1px solid var(--green);
}

hr {
    max-width: 100%;
    border-top: 1px solid var(--green);
}

h2 {
    text-align: left;
}

p {
    font-size: 14px
}

a {
    color: var(--green);
    text-decoration: none;
}

/*===================================
HOME SECTION
====================================== */
#home strong {
    color: var(--green);
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.logo {
    margin: 15px;
}

/*===================================
CALENDAR SECTION
====================================== */

#calendar {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 60px;
}

#calendar .social {
    display: block;
    margin: 50px 20px;
}

/*Carousel Slider*/

#carousel-slider {
    justify-content: center;
    font-family: 'arial', sans-serif;
    border: 1px solid var(--green);
}

#carousel-slider p {
    color: var(--navbar);
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    background-color: transparent;
}

#calendar .calendar-wrapper {
    padding: 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 40px;
    background-color: rgba(255, 255, 255, 0.07);
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}


#calendar h3 {
    font-family: 'arial', sans-serif;
    color: var(--green);
    font-weight: bold;
}

hr {
    color: var(--green);
}

#calendar .calendar-wrapper i {
    margin: 5px;
    color: #3E9E47;
    font-size: 25px;
}

/*===================================
TEAM SECTION
====================================== */
/* The colour of the indicators */

.blog .carousel-indicators {
    margin-bottom: -3rem;
}

.blog .carousel-indicators li {
    background: var(--navbar);
    border: 2px;
}

.blog .carousel-indicators .active {
    background: var(--green);
}

.carousel-inner h3{
    font-size: 18px;
}
/*===================================
CONTACT SECTION
====================================== */
#contact .contact-wrapper {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 40px;
    min-height: 200px;
}

#contact .contact-wrapper h3 {
    color: #3E9E47;
}

#contact .social-below {
    display: block;
    margin-top: 5px;
}

.fa-facebook-square {
    color: var(--green);
}

.qrCode {
    max-width: 50%;
    height: auto;
    margin-left: 3rem;
}

/*===================================
FOOTER SECTION
====================================== */

footer a, .footer-div a:hover {
    font-size: 11px;
    color: var(--navbar);
}
